
:root{
    --color_primary:#F2BD94;
    --color_primary--dark:#31120D;
    --color_primary--light: #76271F;

    --color_secondary--highlight:#FF9800;
    --color_secondary--highlight2:#2DC61C;

    --color_grey--light:#BEBDBF;
    --color_grey:#585859;
    --color_grey--dark:#1E1E20;
}
@mixin clearTable {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// @media (max-width: 575.98px) { ... }

// // Small devices (landscape phones, less than 768px)
// @media (max-width: 767.98px) { ... }

// // Medium devices (tablets, less than 992px)
// @media (max-width: 991.98px) { ... }

// // Large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) { ... }
// base + typography > general layout + grid > page layout > components
@mixin respond ($breakpoint) {
    @if $breakpoint == phone__potrait{
        @media(max-width:37.5em) {
            @content
        }

        ;
    }
    @if $breakpoint==phone {
        @media(max-width:37.5em) {
            @content
        }

        ;
    }

    @else if $breakpoint==tab-port {
        @media(max-width:56.25em) {
            @content
        }

        ;
    }

    @else if $breakpoint==tab-land {
        @media(max-width:75em) {
            @content
        }

        ;
    }

    @else if $breakpoint==big-desktop {
        @media(min-width:112.5em) {
            @content
        }

        ;
    }


}

*{
    margin: 0 ;
    padding: 0;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    
    @include respond(tab-land) {
        font-size: 56.25%; // 1rem = 9px; 9/16
        letter-spacing: .1rem;
      }
    
      @include respond(tab-port) {
        font-size: 50%; // 1rem = 8px; 8/16
        letter-spacing: .1rem;
      }
    
      @include respond(phone) {
        font-size: 50%; // 1rem = 7px; 8/16
        letter-spacing: 0;
      }
    
      @include respond(big-desktop) {
        font-size: 75%; // 1rem = 12px; 12/16
        letter-spacing: .05rem;
      }

}
body{
    position: relative;
    overflow: auto;
    z-index: -20;
    // min-height: 100vh;
    font-size: 1.8rem;
    backface-visibility: hidden;
    background-color:  #f5f5f5;

    @include respond(tab-land) {
        font-size: 1.6rem;
      }

}