.main__header{
    margin-top: .5rem;
    position: fixed;
    z-index: 1000;
    margin: 0 1rem;
    box-shadow: 0 1rem 1rem rgba($color: black, $alpha: .1);
    backface-visibility: hidden;
    @include respond(phone){
        top: 0;
        margin: 0;
        margin-top: 0;
    }
    // border-bottom: 2px solid var( --color_primary--dark);
}
.section1{
        width: 100vw;
        backface-visibility: hidden;
        height: 8vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 4rem;
        background-color: rgba($color: white, $alpha: 1);
        @include respond(phone){
            padding: 1rem 1rem;
            font-size: 1.4rem;
        }
        .logo{
            display: flex;
            align-items: center;
            justify-content:space-between;
            &__icon{
                width: 2.5rem;
            }
            &__name{
                font-family: 'Montserrat', sans-serif;
                font-size: 1.6rem;
                font-weight: 600;
                text-transform: uppercase;
                margin-left: 1rem;
                color: var( --color_grey--dark);
                @include respond(phone){
                font-size: 1.4rem;
                letter-spacing: 0;
                line-height: 1.5;
                }
            }
        }
        .user__nav{
            display: flex;
            flex: 0 0 30%;
            transition: all 2s ease-in-out;
            &-box{
                display: flex;
                flex: 0 0 100%;
                align-items: center;
                justify-content: space-between;
            }
            &-items{
                list-style: none;
                padding: 1rem;
            }
            &-link{
                text-decoration: none;
                color: var(--color_primary--dark);
                &:active{
                    color: var(--color_secondary--highlight);
                }
                &:link{
                    color: var(--color_primary--dark);
                }
               


                
            }
        }
       
    }


.socialMedia{
    position: fixed;
    bottom: 8rem;
    right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 2000;
    @include respond(phone){
        right: 1rem;
    }
    &__btns{
        height: 3rem;
        margin: 1rem 0;
    }
    &__icon{
        width: 3rem;
        fill: var(--color_grey--dark);
    }
}
.header{
     position: sticky;
     top: 0;
    overflow-y: hidden;
   margin: 0 1rem;
    height: 100vh;
    background-color: var(--color_primary);
    display: flex;
    justify-content: center;
    align-items: flex-end;

    @include respond(phone) {
       justify-content: flex-start;
      width: 100vw;
      margin: 0;
      top: 0;
         }
    .img_container{
        position: relative;
        width: 45rem;
        align-self: flex-end;
        @include respond(tab-land){
            width: auto;
        }
       @include respond(tab-port) {
           position: relative;
        width: 55rem;
        left: -20%;
          }
          @include respond(phone) {
         position: relative;
         left: -30%;
          }
    }
    &__img{
        display: block;
        width: 100%;
              @include respond(tab-land){
                  overflow: hidden;
                height: 90vh;
         width: auto;
            }      
              @include respond(phone) {
                height: 90vh;
                width: auto;
                // filter: blur(1px) grayscale(1);
              }
        
       
    }
    .textbox{
        
    }
    .text__Box--header{
        z-index: 10;
        margin-left: -10rem;
        display: flex;
        flex-direction: column;
        flex:0 0 40%;
        justify-content: center;
        letter-spacing: .2rem;
        line-height: 2;
        margin-bottom: 18rem;
        @include respond(tab-land){
            font-size: 2rem;
            color: white;
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
           width: 40%;
           margin: 0;
            z-index: 10;
            padding: 2rem;
            background-image: linear-gradient(to right bottom,rgba(#F2BD94,0.8),rgba(#76271F,0.8));
            border-radius: 1rem;
        }      
         @include respond(phone){
            color: white;
             position: absolute;
             top: 60%;
             left: 50%;
             transform: translate(-50%,-50%);
             text-align: center;
            width: 80%;
            margin: 0;
             z-index: 10;
             padding: 2rem;
             background-color: rgba(#F2BD94,0.8);
             border-radius: 1rem;
            //  background-image: linear-gradient(rgba(var(--color_primary),0.5),rgba(var(--color_primary),0.9));
          
         }      
        .text__Box-p{
            font-size: 1.4rem;
        }
    }

}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////@
////////////////////////////////////////////////////////////////////////////////////////////////////////
//Hair Styles

.hair__styles{
    flex-wrap: wrap-reverse;
    position: relative;
    padding: 10rem 5rem 15rem 0;
    background-color: white;
    display: flex;
    justify-content:space-around;
    transition: all 1s 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
    @include respond(phone){
      flex-direction: column-reverse;
      justify-content: flex-start;
      padding: 5rem 4rem;
      }     
    &-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
     
    }
    &-items{
        display: flex;
        align-items: baseline;
        margin: .2rem;
        .number{
            padding: 1.3rem;
            padding-left:2.6rem ;
            background-image: linear-gradient(to right,var(--color_primary--dark)0 40%,var(--color_primary) 40%);
            margin-right: 4rem;
          
        }

        .name{
            color: var(--color_primary--dark);
        }
    }
    &-details-container{
        display: flex;
        justify-content: space-between;
        margin: .9rem 0;
    }
    &-details-items{
       
        margin-left: 2rem;
    }
    &-slideshow{
        display: flex;
        align-self: flex-end;
        width: 40rem;
        .slide_img{
            // height: 50rem;
            width: 100%;
        }
    }
}
.image__container{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 10rem;
//  margin-right: 10rem; 
@include respond(tab-port){
   padding: 5rem;
  }     
 .img{
    box-shadow: 1rem 1.5rem 1rem rgba($color: black, $alpha: .5);
     transition: transform .5s ease-in-out;
     width: 20rem;
    //  height: 25rem;
     outline: .5rem solid var(--color_secondary--highlight);
     outline-offset: .3rem;
    flex: 0 1 3;
    @include respond(tab-port){
       width: 15rem;
       padding: .3rem;
     }      
 
     &:hover{
        transform: scale(1.2) translateY(-.5rem);
        outline-width: 0;
        z-index: 1;
    }
     .slide_img{
         display: block;
        width: 100%;
        height: auto;
    }
 }
 .image1{
    transform: rotate(-5deg) translateY(-8rem);
    @include respond(phone){
        transform: rotate(-5deg) translateY(-4rem);
      }     
 }
 .image2{
    transform: rotate(8deg)  translateY(8rem);
    margin-left: -10rem;
    @include respond(phone){
        transform: rotate(8deg) translateY(4rem);
        margin-left: 0;
      }     
 }
}
//////////////////////////
///////Gallery
.gallery{
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 80vh;
    padding: 14rem 2rem;
    background-color: var(--color_primary--dark);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 100;
     display: flex;
    flex-wrap: wrap;
    @include respond(tab-port){
      max-height: 50vh;
      flex-direction: row-reverse;
      padding: 5rem .5rem;
      }   
      @include respond(phone){
        max-height: 70vh;
        flex-direction: row-reverse;
        padding: 5rem .5rem;
        }   

   &::-webkit-scrollbar {
       display: none;
    }
 &__img-container{
     flex: 15%;
    max-width: 15%;
    padding: .1rem .3rem;
    max-height: 70vh;
    transition: transform .5s ease-in ;
    @include respond(tab-port){
       flex: 20%;
       max-width: 20%;
      }     
      @include respond(phone){
        flex: 40%;
       max-width: 40%;
      }     
    &:last-child{
    flex-grow: 5;
    &:hover{
        transform: translate(-4rem,-1rem) scale(1.2);
        @include respond(phone){
           transform: translate(-4rem,-1rem) scale(1.2);
        }
    }
    }
    &:hover{
        transform: translateY(-1rem) scale(1.2);
        z-index: 4;
    }
 }
 &__img{
     width: 100%;
    min-width: 100%;
   object-fit: fill;
 }
}




/////////////////////////
///// Reviews
main{
    position: relative;
    z-index: 5;
    background-color: white;
    overflow: hidden;
}
.review{
    background-image: linear-gradient(to right,rgba(#fff,0.5),transparent,rgba(#fff,0.5));
    padding: 5rem 0 20rem;
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    &__container{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        width: 50%;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding: 0 .5rem;
    }
    &__items{
        box-sizing: content-box;
        padding: 3rem 6rem  2rem;
        padding-left:10rem;
        background-color: var(--color_primary);
        display: flex;
        align-items: center;
        justify-content: center;
        transform: skewX(-12deg);
        border-radius: .3rem;
        box-shadow: .5rem 1rem 1rem rgba($color: black, $alpha: .1);
        @include respond(tab-port){
            transform: skewX(0);
            width: 85vw;
            box-shadow: .5rem .5rem .2rem rgba($color: black, $alpha: .1);
        }
        &:not(:last-child){
            margin-bottom: 3rem;
        }
        &-image-container{
            position: relative;
            width: 15rem;
            height: 15rem;
            clip-path: circle(50% at 50% 50%);
            border-radius: none;
            margin-right: 3rem;
            transform: skewX(12deg);
            border-radius: 1rem;
            @include respond(tab-port){
                transform: skewX(0);
            
            }
        }
        &-image{
            position: absolute;
            top: 50%;
            left: 50%;
            height: 100%;
            transform: translate(-50%,-50%);
        }
        &-textbox{
            margin-left: 3rem;
            display: flex;
            flex-direction: column;
            transform: skewX(12deg);
            letter-spacing: .1rem;
            @include respond(tab-port){
                transform: skewX(0);
            }
        }   
        &-header{
            color: var(--color_primary--dark);
            line-height: 2;
            font-style: italic;
            font-size: 2.2rem;
            font-weight: 500;

        }
        &-review{
            color: var(--color_primary--dark);
        }
        &-name{
            color: var(--color_primary--dark);
            font-style: italic;
            font-weight: 500;
            text-align: end;
            line-height: 2;
        }
    }

}
////////////////////////////////////////////////////////
////////Footer
.footer{
    position: relative;
    z-index: 5000;
    padding: 5rem 0 3rem 0;
    background-color: var(--color_primary--dark);
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // color: var(--color_primary);
    color: white;
    &__Logo{
        width: 4rem;
        margin-bottom: 4rem;
       
        &-icon{
            width: 100%;
            fill: white;
        }
    }
    .footer__content{
        order: 1;
        display: flex;
        justify-content: space-around;
        @include respond(tab-port){
          flex-direction: column;
          text-align: center;
          padding: 1rem 4rem;
        }
        .textbox{
            flex-basis: 40%;
            line-height: 1.5;
            @include respond(tab-port){
               &:not(:last-child){
                   margin-bottom: 3rem;
               }
              }
        }
    }

    .content__p{
        font-weight: 400;
    }
    .contacts{
        display: flex;
        margin-top: 3rem;
        
    }
    .footer__btns{
        color: transparent;
        text-decoration: none;
        margin: 0 1rem 0 1rem;
    }
    .footer__icon{
        width: 3rem;
        height: 3rem;
      fill: white;
    }
}