.heading--primary{
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--color_primary--dark);
}
.hair__styles{
    position: relative;
    padding: 10rem ;
    height: 100vh;
    background-color: white;
}