:root {
  --color_primary:#F2BD94;
  --color_primary--dark:#31120D;
  --color_primary--light: #76271F;
  --color_secondary--highlight:#FF9800;
  --color_secondary--highlight2:#2DC61C;
  --color_grey--light:#BEBDBF;
  --color_grey:#585859;
  --color_grey--dark:#1E1E20; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif; }

body {
  overflow: auto;
  z-index: -20;
  font-size: 1.6rem; }

.heading--primary {
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 600;
  color: var(--color_primary--dark); }

.hair__styles {
  position: relative;
  padding: 10rem;
  height: 100vh;
  background-color: white; }

.main__header {
  overflow: hidden;
  margin-top: .5rem;
  position: sticky;
  z-index: 100;
  top: 0;
  margin: 0 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1); }
  .main__header .section1 {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background-color: white; }
    .main__header .section1 .logo {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .main__header .section1 .logo__icon {
        width: 2.5rem; }
      .main__header .section1 .logo__name {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-left: 1rem;
        color: var(--color_grey--dark); }
    .main__header .section1 .user__nav {
      display: flex;
      flex: 0 0 30%; }
      .main__header .section1 .user__nav-box {
        display: flex;
        flex: 0 0 100%;
        align-items: center;
        justify-content: space-between; }
      .main__header .section1 .user__nav-items {
        list-style: none;
        padding: 1rem; }
      .main__header .section1 .user__nav-link {
        text-decoration: none;
        color: var(--color_primary--dark); }

.socialMedia {
  position: fixed;
  bottom: 8rem;
  right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; }
  .socialMedia__btns {
    height: 3rem;
    margin: 1rem 0; }
  .socialMedia__icon {
    width: 3rem; }

.header {
  position: sticky;
  top: 8vh;
  overflow-y: hidden;
  margin: 0 1rem;
  height: 100vh;
  background-color: var(--color_primary);
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  .header .img_container {
    width: 10rem;
    height: 65rem; }
  .header__img {
    height: 100%;
    width: auto;
    align-self: flex-end;
    margin-right: -12rem; }
  .header .text__Box--header {
    display: flex;
    flex-direction: column;
    flex: 0 0 40%;
    justify-content: center;
    letter-spacing: .2rem;
    line-height: 2;
    margin-bottom: 18rem; }
    .header .text__Box--header .text__Box-p {
      font-size: 1.4rem; }

.hair__styles {
  position: relative;
  padding: 5rem 5rem 5rem 5rem;
  height: 95vh;
  background-color: white;
  display: flex;
  justify-content: space-around;
  transition: all 1s 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .hair__styles-container {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .hair__styles-items {
    display: flex;
    align-items: baseline;
    margin: .2rem; }
    .hair__styles-items .number {
      padding: 1.3rem;
      padding-left: 2.6rem;
      background-image: linear-gradient(to right, var(--color_primary--dark) 0 40%, var(--color_primary) 40%);
      margin-right: 4rem; }
    .hair__styles-items .name {
      color: var(--color_primary--dark); }
  .hair__styles-details-container {
    display: flex;
    justify-content: space-between;
    margin: .9rem 0; }
  .hair__styles-details-items {
    margin-left: 2rem; }
  .hair__styles-slideshow {
    display: flex;
    align-self: flex-end;
    width: 40rem; }
    .hair__styles-slideshow .slide_img {
      width: 100%; }

.image__container {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .image__container .img {
    transition: all .5s ease-in-out;
    width: 20rem;
    height: 25rem;
    outline: 0.5rem solid var(--color_secondary--highlight);
    outline-offset: .3rem;
    flex: 0 1 3; }
    .image__container .img:hover {
      transform: scale(1.2) translateY(-0.5rem);
      outline-offset: .5rem;
      outline-width: .8rem;
      z-index: 1; }
    .image__container .img .slide_img {
      width: 100%;
      height: 100%; }
  .image__container .image1 {
    transform: rotate(-5deg) translateY(-8rem); }
  .image__container .image2 {
    transform: rotate(8deg) translateY(8rem);
    margin-left: -10rem; }

.btn,
.btn:link,
.btn:visited {
  display: inline;
  text-decoration: none;
  color: #fff;
  padding: .3rem 2.5rem;
  border-radius: .3rem;
  background-color: var(--color_primary--dark);
  text-transform: uppercase;
  letter-spacing: .3rem; }

.btn--header {
  align-self: flex-start;
  margin-top: 3rem; }

/*Linked texts*/
.linked__text {
  color: var(--color_primary--dark);
  font-style: italic;
  font-weight: 700;
  text-decoration: none; }

.price {
  color: var(--color_secondary--highlight2);
  padding-left: 1rem; }

.size {
  color: var(--color_secondary--highlight); }

.main {
  cursor: pointer; }

.content {
  display: none; }

.active {
  display: flex; }
